*{
    /* border: 2px solid; */
}

body{
    margin: 0;
    position:absolute;
    font-family: "Quicksand", sans-serif;
    height: 200px;
    background-color: white ;
}
/* Tittle */
    header{
        padding: 10px 0px 10px 0px;
        text-align: center;
        background-color: aquamarine;
        border-radius: 50px;

    }
/* Main Container */
    .main-container {
        display: flex;
        column-gap:0px;
    }
/* Container Item */
    .container-item{
        
        width: 100%;
        padding-left: 30px;
    }
    .container-item>h2{
        width: 100%;
    
    }
/* Form Calculate */
    .container-form{
        box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
        padding-top: 8px;
        padding-bottom: 8px;
    }
    input[type=number]{
        border-radius: 8px;
        border-style: none;
        width: 100%;
}
/* ALERT */
    span{
        color: red;
    }
/* SET BUTTON */
    button{
    border: 0px;
    font-weight: bold;
    font-size: medium;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: aquamarine;
    border-radius: 8px;
    }
    #calculate-button{
    background-color: black;
    color: white;

    }
    .container-form>h2{
        padding-left: 20px; ;
    }
    .container-form{
        border-radius: 15px
    }
    .container-form>div{
        padding: 8px;
    }
/* Container Result */
    .container-result{
        box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
        text-align: center;
        background-color: rgb(183, 177, 177);
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 20px
    }
    .container-result>h5{
        font-style: normal;
        font-size: xx-large ;
        margin: 0px;
    }
    .container-result>h4{
        font-style: normal;
        font-size: large ;
        margin: 0px;

    }
/* Footer */
footer{
      background-color: aquamarine;
      text-align: center;
      padding: 10px 0px 10px 0px ;
      font-weight: 900;
      font-style: italic;

}
/* Agar di mobile terlihat bagus */
    @media only screen and (max-width: 480px){
        .main-container {
            flex-direction: column;
        }
        .container-item{
        
            width: 100%;
            padding-left: 0px;
        }

        
    }
